@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* Path: res\styles.css */

/**     HTML Elements      **/
* { /* Everything */
    font-family: 'Josefin Sans', sans-serif;
}

body { /* The Body */
    /* background-image: url("backgrounds/pixzolo-photography-3tL4vtrFqTQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color: white;
    margin: 0;
    padding: 0;
}

.top-header { /* Top Header */
    position: sticky;
    top: 0;
    background-color: #0c4653;
    height: 100px;
    padding-bottom: 1px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: black 0px 1px 4px;
    z-index: 100;
}

.top-header p {
    color: white;
    font-size: 28px;
    margin: 0;
}

.logo-img { /* Paninosoft Logo */
    background-image: url("icon.png");
    border-radius: 0.4rem;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    aspect-ratio: 1/1;
    margin: 10px;
    margin-left: 15px;
}

#lista_ordini { /* List */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

#lista_ordini .order-controls {
    list-style: none;
    color: black;
    margin: 10px;
    padding: 10px;
    padding-right: 20px;
    background-color: #c4f0f9;
    box-shadow: black 0px 1px 4px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button { /* Simple Button */
    color: white;
    background-color: #0C4653;
    border-radius: 5px;
    border: none;
    padding: 10px;
    transition: 0.5s;
}
.button:hover {
    background-color: #105868;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    width: 300px;
}

.date-picker {
    background-color: #0C4653;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
}
.list-button {
    margin-right: 15px;
}

@media screen and (max-width: 600px) {
    .top-header {
        flex-direction: column;
        align-items: center;
    }
    .top-header h1 {
        font-size: 1.5em;
        text-align: center;
        aspect-ratio: 0;
    }
    .controls {
        width: calc(100% - 20px);
    }
    #lista_ordini .order-controls {
        padding-right: 10px !important;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .list-button {
        width: 60%;
    }
}